<h3>Editing Book</h3>
<% if @book.errors.any? %>
    <%= @book.errors.count %>error
    <% @book.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
<% end %>

<%= form_for(@book) do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>body</h4>
  <%= f.text_area :body %>
  <br>
  <%= f.submit "Update Book" %>
<% end %>
<br>
<%= link_to "Show", book_path(@book) %> |
<%= link_to "back", books_path %>

